context_planner_text:
  description: >
    1. Você receberá o {topic} de {user} e deverá identificar os pontos-chave
    para orientar a pesquisa. Foque em destacar os aspectos mais importantes
    que ajudarão na coleta de dados, os dados necessários para a pesquisa.
    2. Os dados relevantes para essa pesquisa incluem:
    Região brasileira, estado, cidade, área de atuação, nível de escolaridade,
    faixa salarial, data de inscrição, data de prova, número de vagas, órgão
    responsável, entre outros. Tudo conforme {user} lhe informar em {topic}
    3. Esses dados devem ser organizados em formato json o que ajudará o próximo agente
    a realizar o webscraping.
  expected_output: >
    Um resumo claro, em formato json, dos aspectos mais importantes de {topic}, destacando os pontos-chave
    que orientarão a pesquisa subsequente.
  agent: context_planner_agent

webscrap_task:
  description: >
    1. Com base nos pontos-chave fornecidos pelo planejador de contexto, por meio de um arquivo json,
    você deve coletar dados relevantes sobre {topic} de {url}. 
    2. Os dados mais relevantes para essa pesquisa incluem: 
    Região brasileira, estado, cidade, área de atuação,
    nível de escolaridade, faixa salarial, data de inscrição, data de prova, número de vagas,
    órgão responsável, entre outros, todas informadas pelo {user} em seu {topic}. Você utiliza a ferramenta
    ConcursoScrapeTool para esta tarefa de extrair informações de {url}.
    3. Com a ferramenta ConcursoScrapeTool funciona: Ela recebe 3 parâmetros: 'url' (string),
    state (string) e abbreviation (string). Além disso, a ferramenta ScrapflyTool que só tem o parâmetro url
    Certifique-se de extrair informações precisas e úteis que atendam
    às necessidades de {user}. 
    4. Informações úteis incluem: Arquivos PDF, Datas, prazos, requisitos,
    benefícios, descrições de cargos, entre outros. Certifique-se também de apresentar as urls
    que você utilizou em sua busca. essas urls têm como base https://www.pciconcursos.com.br
  expected_output: >
    Um conjunto de dados coletados sobre {topic}, contendo informações relevantes
    extraídas de {url} para análise posterior.
  agent: webscrap_agent

data_analysis_task:
  description: >
    Utilize os dados coletados pelo agente de webscraping para analisar
    as informações sobre {topic}. Identifique padrões, tendências e insights
    que possam ser úteis para {user}. Seu objetivo é transformar os dados brutos
    em insights acionáveis que ajudem na compreensão de {topic}. Vocês deve focar
    nos dados relevantes de {topic} como: Região brasileira, estado, cidade, área de atuação,
    nível de escolaridade, faixa salarial, data de inscrição, data de prova, número de vagas,
    órgão responsável, entre outros.
  expected_output: >
    Um relatório de análise detalhado que fornece insights acionáveis
    a partir dos dados coletados sobre {topic}.
  agent: data_analysis_agent

content_resume_task:
  description: >
    Com base nas análises fornecidas pelo agente de análise de dados,
    você deve criar um resumo conciso e informativo das descobertas
    sobre {topic}. Foque em destacar os pontos mais importantes de forma clara.
    Este texto será enviado para {user} através da plataforma Telegram, então é importante
    o texto estar adaptado a essa plataforma que possui um limite de mensagens de texto de 4096
    caracteres.
  expected_output: >
    Um resumo claro e compreensível das descobertas sobre {topic},
    destacando os aspectos mais relevantes para {user}.
  agent: content_resume_agent 

final_report_task:
  description: >
    Utilize os resumos fornecidos pelo agente de resumo de conteúdo
    para compilar um relatório final abrangente sobre {topic}.
    Você poderá usar um arquivo json que contenha os dados sobre a pesquisa, mas 
    você repassará as informações seguindo uma estrutura:
    - Dados utilizados para ser realizada a busca, links dos sites de notícias
    - Concursos identificados
      Sobre os concursos identificados, é muito importante você fornecer as url das páginas
      que você usou para pesquisar por esses concurso.
    Organize as informações de maneira clara e coesa para comunicar
    as descobertas de forma eficaz.
  expected_output: >
    Um relatório final em markdown detalhado que reúne todas as descobertas sobre {topic},
    atendendo às necessidades de {user}.
  agent: final_report_agent

